## Exercise

We have had a go at joining two tables with The World Happiness Index for 2015, and 2016. Your task now is to join the tables for The World Happiness Index for 2018, and 2019.

Set yourself 15 minutes for this task.

 - Join the data from The World Happiness Index for 2018 and 2019.
 - Visit the Pandas documentation for more info on different joins [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html#)
 - What is the difference between the DataFrame method #concat [more info here](https://pandas.pydata.org/docs/reference/api/pandas.concat.html), and the #merge method [documentation link here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html#pandas.DataFrame.merge)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
hap18 = pd.read_csv("./happiness_data/2018.csv")

hap19 = pd.read_csv("./happiness_data/2019.csv")

In [3]:
hap18.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [4]:
hap19.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [13]:
hap18_and_19_merged = hap18.join(hap19, how="inner", lsuffix="_2018", rsuffix="_2019")

hap18_and_19_merged.head()

# This joined table is too wide to display all the relevent information
# We can select specific columns

,Overall rank_2018,Country or region_2018,Score_2018,GDP per capita_2018,Social support_2018,Healthy life expectancy_2018,Freedom to make life choices_2018,Generosity_2018,Perceptions of corruption_2018,Overall rank_2019,Country or region_2019,Score_2019,GDP per capita_2019,Social support_2019,Healthy life expectancy_2019,Freedom to make life choices_2019,Generosity_2019,Perceptions of corruption_2019
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [ ]:

rank_country_score_merge = hap18[['Overall rank','Country or region', 'Score']].join(hap19[['Overall rank','Country or region', 'Score']], how="inner", lsuffix="_2018", rsuffix="_2019")

rank_country_score_merge.head()

# This still looks a little unclear as the ranks are in the same order, but the countries are different
# Lets explore a similar take but with #merge()

In [ ]:
hap_merged = pd.merge(hap18, hap19, on="Country", suffixes=[" 2018", " 2019"])

# This has too many columns

In [ ]:
hap_merged = pd.merge(hap18[['Overall rank','Country or region', 'Score']], hap19[['Overall rank','Country or region', 'Score']], on="Country or region", suffixes=[" 2018", " 2019"])

# This cuts down the columns to just a few relevant ones

hap_merged