# Cereal Challenge

First I made a dataframe from the csv file of cereal information.

In [1]:
import pandas as pd

raw_cereal_data = pd.read_csv("../data/extra-challenge/cereals/cereal.csv")

raw_cereal_data

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,130,10.0,5.0,6.0,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120.0,3,5,15,2.0,8.0,8.0,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70.0,4,1,260,9.0,7.0,5.0,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50.0,4,0,140,14.0,8.0,0.0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8.0,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110.0,2,1,250,0.0,21.0,3.0,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110.0,1,1,140,0.0,13.0,12.0,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100.0,3,1,230,3.0,17.0,3.0,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3.0,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,NaN,60,25,1,1.0,0.75,36.187559

Next I made a new dataframe with my new cereal information.

In [2]:
new_cereals = {
    "name" : ["Creepy Corn", "Wet  Wheaties", "Frog Flakes"],
    "mfr" : ["K", "Q", "R"],
    "type" : ["C","C","C"],
    "calories": [99, 104, 150],
    "protein" : [2,3,4],
    "fat"	: [1,1,1],
    "sodium"	: [150,140,160],
    "fiber"	: [4,1,2],
    "carbo"	: [12,11,10],
    "sugars"	: [10,15,9],
    "potass"	: [90,130,120],
    "vitamins"	: [18,15,12],
    "shelf"	: [1,2,3],
    "weight"	: [1,1,1],
    "cups"	: [0.85,0.9,1],
    "rating" : [30.828392,60.828392,45.828392]
}

new_cereals_df = pd.DataFrame(new_cereals)
new_cereals_df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,Creepy Corn,K,C,99,2,1,150,4,12,10,90,18,1,1,0.85,30.828392
1,Wet Wheaties,Q,C,104,3,1,140,1,11,15,130,15,2,1,0.90,60.828392
2,Frog Flakes,R,C,150,4,1,160,2,10,9,120,12,3,1,1.00,45.828392

These two dataframes are merged together and the index reset to replace duplicate indexes for the new cerieal rows.

In [3]:
cereal_merged = pd.concat([raw_cereal_data,new_cereals_df])
cereal_merged = cereal_merged.reset_index()
cereal_merged['index'] = cereal_merged.index
cereal_merged

,index,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,0,100% Bran,N,C,70.0,4,1,130,10.0,5.0,6.0,280,25,3,1.0,0.33,68.402973
1,1,100% Natural Bran,Q,C,120.0,3,5,15,2.0,8.0,8.0,135,0,3,1.0,1.00,33.983679
2,2,All-Bran,K,C,70.0,4,1,260,9.0,7.0,5.0,320,25,3,1.0,0.33,59.425505
3,3,All-Bran with Extra Fiber,K,C,50.0,4,0,140,14.0,8.0,0.0,330,25,3,1.0,0.50,93.704912
4,4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8.0,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3.0,110,25,1,1.0,1.00,51.592193
76,76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,NaN,60,25,1,1.0,0.75,36.187559
77,77,Creepy Corn,K,C,99.0,2,1,150,4.0,12.0,10.0,90,18,1,1.0,0.85,30.828392
78,78,Wet Wheaties,Q,C,104.0,3,1,140,1.0,11.0,15.0,130,15,2,1.0,0.90,60.828392
79,79,Frog Flakes,R,C,150.0,4,1,160,2.0,10.0,9.0,120,12,3,1.0,1.00,45.828392

A new dataframe with the new post-tax sugar values (20% lower than original) is produced below:

In [4]:
post_sugar_tax = (cereal_merged[['sugars']]*0.8).copy().rename(columns={"sugars":"sugars (post-tax)"})
post_sugar_tax

    sugars (post-tax)
0                 4.8
1                 6.4
2                 4.0
3                 0.0
4                 6.4
..                ...
75                2.4
76                NaN
77                8.0
78               12.0
79                7.2

[80 rows x 1 columns]

This new dataframe is inserted next to the sugar column in the full dataframe.

In [5]:
cereal_merged.insert(11,'sugars (post-tax)', post_sugar_tax)
cereal_merged

,index,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,sugars (post-tax),potass,vitamins,shelf,weight,cups,rating
0,0,100% Bran,N,C,70.0,4,1,130,10.0,5.0,6.0,4.8,280,25,3,1.0,0.33,68.402973
1,1,100% Natural Bran,Q,C,120.0,3,5,15,2.0,8.0,8.0,6.4,135,0,3,1.0,1.00,33.983679
2,2,All-Bran,K,C,70.0,4,1,260,9.0,7.0,5.0,4.0,320,25,3,1.0,0.33,59.425505
3,3,All-Bran with Extra Fiber,K,C,50.0,4,0,140,14.0,8.0,0.0,0.0,330,25,3,1.0,0.50,93.704912
4,4,Almond Delight,R,C,110.0,2,2,200,1.0,14.0,8.0,6.4,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,75,Wheaties,G,C,100.0,3,1,200,3.0,17.0,3.0,2.4,110,25,1,1.0,1.00,51.592193
76,76,Wheaties Honey Gold,G,C,110.0,2,1,200,1.0,16.0,NaN,NaN,60,25,1,1.0,0.75,36.187559
77,77,Creepy Corn,K,C,99.0,2,1,150,4.0,12.0,10.0,8.0,90,18,1,1.0,0.85,30.828392
78,78,Wet Wheaties,Q,C,104.0,3,1,140,1.0,11.0,15.0,12.0,130,15,2,1.0,0.90,60.828392
79,79,Frog Flakes,R,C,150.0,4,1,160,2.0,10.0,9.0,7.2,120,12,3,1.0,1.00,45.828392

I think the type column as it appears all rows are type 'C' (presumably to indicate cereal). I will check this and if true drop the column.

In [6]:
cereal_merged.loc[cereal_merged['type'] != 'C']

,index,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,sugars (post-tax),potass,vitamins,shelf,weight,cups,rating
20,20,Cream of Wheat (Quick),N,H,100.0,3,0,80,1.0,21.0,0.0,0.0,-1,0,2,1.0,1.00,64.533816
43,43,Maypo,A,H,100.0,4,1,0,0.0,16.0,3.0,2.4,95,25,2,1.0,1.00,54.850917
57,57,Quaker Oatmeal,Q,H,100.0,5,2,0,2.7,-1.0,-1.0,-0.8,110,0,1,1.0,0.67,50.828392

This assumption was not correct, there are three entries with type 'H' so I will not drop the column.

I will re-order the columns to group together relevant information.

In [7]:
column_order = ['index', 'name', 'mfr', 'type', 'shelf', 'weight', 'cups', 'rating','calories', 'protein', 'fat', 'sodium', 'fiber', 'carbo', 'sugars', 'sugars (post-tax)', 'potass', 'vitamins']
cereal_merged = cereal_merged[column_order]
cereal_merged.head()

,index,name,mfr,type,shelf,weight,cups,rating,calories,protein,fat,sodium,fiber,carbo,sugars,sugars (post-tax),potass,vitamins
0,0,100% Bran,N,C,3,1.0,0.33,68.402973,70.0,4,1,130,10.0,5.0,6.0,4.8,280,25
1,1,100% Natural Bran,Q,C,3,1.0,1.00,33.983679,120.0,3,5,15,2.0,8.0,8.0,6.4,135,0
2,2,All-Bran,K,C,3,1.0,0.33,59.425505,70.0,4,1,260,9.0,7.0,5.0,4.0,320,25
3,3,All-Bran with Extra Fiber,K,C,3,1.0,0.50,93.704912,50.0,4,0,140,14.0,8.0,0.0,0.0,330,25
4,4,Almond Delight,R,C,3,1.0,0.75,34.384843,110.0,2,2,200,1.0,14.0,8.0,6.4,-1,25

I used the describe function to get an overview of the numerical data.

In [8]:
cereal_merged.describe()

,index,shelf,weight,cups,rating,calories,protein,fat,sodium,fiber,carbo,sugars,sugars (post-tax),potass,vitamins
count,80.0000,80.000000,80.000000,80.000000,80.000000,76.000000,80.000000,80.00000,80.00000,80.000000,80.000000,75.000000,75.000000,80.000000,80.000000
mean,39.5000,2.200000,1.028500,0.824625,42.784306,107.276316,2.562500,1.01250,159.31250,2.158750,14.462500,6.826667,5.461333,96.725000,27.750000
std,23.2379,0.832869,0.147701,0.229308,13.996239,20.229746,1.088998,0.98718,82.26133,2.350529,4.255878,4.467218,3.573774,70.076265,22.065208
min,0.0000,1.000000,0.500000,0.250000,18.042851,50.000000,1.000000,0.00000,0.00000,0.000000,-1.000000,-1.000000,-0.800000,-1.000000,0.000000
25%,19.7500,1.000000,1.000000,0.670000,32.932466,100.000000,2.000000,0.00000,133.75000,1.000000,12.000000,3.000000,2.400000,40.000000,25.000000
50%,39.5000,2.000000,1.000000,0.775000,40.424490,110.000000,3.000000,1.00000,170.00000,2.000000,14.000000,6.000000,4.800000,90.000000,25.000000
75%,59.2500,3.000000,1.000000,1.000000,51.019342,112.500000,3.000000,1.25000,210.00000,3.000000,17.000000,10.500000,8.400000,120.000000,25.000000
max,79.0000,3.000000,1.500000,1.500000,93.704912,160.000000,6.000000,5.00000,320.00000,14.000000,23.000000,15.000000,12.000000,330.000000,100.000000

There appear to be some negative values of carbohydrates, sugars and potass which seems like it must be an error. I am also suspicious of the zero values for fat, fibre and vitamins.

In [9]:
cereal_merged.loc[cereal_merged['carbo'] <= 0]

,index,name,mfr,type,shelf,weight,cups,rating,calories,protein,fat,sodium,fiber,carbo,sugars,sugars (post-tax),potass,vitamins
57,57,Quaker Oatmeal,Q,H,1,1.0,0.67,50.828392,100.0,5,2,0,2.7,-1.0,-1.0,-0.8,110,0

In [10]:
cereal_merged.loc[cereal_merged['sugars'] <= 0]

,index,name,mfr,type,shelf,weight,cups,rating,calories,protein,fat,sodium,fiber,carbo,sugars,sugars (post-tax),potass,vitamins
3,3,All-Bran with Extra Fiber,K,C,3,1.00,0.50,93.704912,50.0,4,0,140,14.0,8.0,0.0,0.0,330,25
20,20,Cream of Wheat (Quick),N,H,2,1.00,1.00,64.533816,100.0,3,0,80,1.0,21.0,0.0,0.0,-1,0
54,54,Puffed Rice,Q,C,3,0.50,1.00,60.756112,50.0,1,0,0,0.0,13.0,0.0,0.0,15,0
55,55,Puffed Wheat,Q,C,3,0.50,1.00,63.005645,50.0,2,0,0,1.0,10.0,0.0,0.0,50,0
57,57,Quaker Oatmeal,Q,H,1,1.00,0.67,50.828392,100.0,5,2,0,2.7,-1.0,-1.0,-0.8,110,0
63,63,Shredded Wheat,N,C,1,0.83,1.00,68.235885,80.0,2,0,0,3.0,16.0,0.0,0.0,95,0
64,64,Shredded Wheat 'n'Bran,N,C,1,1.00,0.67,74.472949,90.0,3,0,0,4.0,19.0,0.0,0.0,140,0
65,65,Shredded Wheat spoon size,N,C,1,1.00,0.67,72.801787,90.0,3,0,0,3.0,20.0,0.0,0.0,120,0

This would need further investigation before conclusions could be drawn.

Next I will index by Manufacturer:

In [11]:
cereal_merged = cereal_merged.set_index('mfr').sort_index()
cereal_merged.sort_values('rating')
#cereal_merged.head()

,index,name,type,shelf,weight,cups,rating,calories,protein,fat,sodium,fiber,carbo,sugars,sugars (post-tax),potass,vitamins
mfr,,,,,,,,,,,,,,,,,
Q,10,Cap'n'Crunch,C,2,1.00,0.75,18.042851,120.0,1,2,220,0.0,12.0,12.0,9.6,35,25
G,12,Cinnamon Toast Crunch,C,2,1.00,0.75,19.823573,120.0,1,3,210,0.0,13.0,9.0,7.2,45,25
Q,35,Honey Graham Ohs,C,2,1.00,1.00,21.871292,120.0,1,2,220,1.0,12.0,NaN,NaN,45,25
G,18,Count Chocula,C,2,1.00,1.00,22.396513,110.0,1,1,180,0.0,12.0,13.0,10.4,65,25
G,14,Cocoa Puffs,C,2,1.00,1.00,22.736446,110.0,1,1,180,0.0,12.0,13.0,10.4,55,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
N,63,Shredded Wheat,C,1,0.83,1.00,68.235885,80.0,2,0,0,3.0,16.0,0.0,0.0,95,0
N,0,100% Bran,C,3,1.00,0.33,68.402973,70.0,4,1,130,10.0,5.0,6.0,4.8,280,25
N,65,Shredded Wheat spoon size,C,1,1.00,0.67,72.801787,90.0,3,0,0,3.0,20.0,0.0,0.0,120,0
N,64,Shredded Wheat 'n'Bran,C,1,1.00,0.67,74.472949,90.0,3,0,0,4.0,19.0,0.0,0.0,140,0
K,3,All-Bran with Extra Fiber,C,3,1.00,0.50,93.704912,50.0,4,0,140,14.0,8.0,0.0,0.0,330,25

In [12]:
cereal_merged.loc['N']

,index,name,type,shelf,weight,cups,rating,calories,protein,fat,sodium,fiber,carbo,sugars,sugars (post-tax),potass,vitamins
mfr,,,,,,,,,,,,,,,,,
N,68,Strawberry Fruit Wheats,C,2,1.00,1.00,59.363993,90.0,2,0,15,3.0,15.0,5.0,4.0,90,25
N,63,Shredded Wheat,C,1,0.83,1.00,68.235885,80.0,2,0,0,3.0,16.0,0.0,0.0,95,0
N,64,Shredded Wheat 'n'Bran,C,1,1.00,0.67,74.472949,90.0,3,0,0,4.0,19.0,0.0,0.0,140,0
N,65,Shredded Wheat spoon size,C,1,1.00,0.67,72.801787,90.0,3,0,0,3.0,20.0,0.0,0.0,120,0
N,0,100% Bran,C,3,1.00,0.33,68.402973,70.0,4,1,130,10.0,5.0,6.0,4.8,280,25
N,20,Cream of Wheat (Quick),H,2,1.00,1.00,64.533816,100.0,3,0,80,1.0,21.0,0.0,0.0,-1,0

Indexed by sodium content:

In [13]:
cereal_merged = cereal_merged.set_index('sodium')
cereal_merged.head()

,index,name,type,shelf,weight,cups,rating,calories,protein,fat,fiber,carbo,sugars,sugars (post-tax),potass,vitamins
sodium,,,,,,,,,,,,,,,,
0,43,Maypo,H,2,1.0,1.00,54.850917,100.0,4,1,0.0,16.0,3.0,2.4,95,25
200,71,Total Whole Grain,C,3,1.0,1.00,46.658844,100.0,3,1,3.0,16.0,3.0,2.4,110,100
250,36,Honey Nut Cheerios,C,1,1.0,0.75,31.072217,NaN,3,1,1.5,11.5,10.0,8.0,90,25
140,59,Raisin Nut Bran,C,3,1.0,0.50,39.703400,100.0,3,2,2.5,10.5,8.0,6.4,140,25
260,40,Kix,C,2,1.0,1.50,39.241114,110.0,2,1,0.0,21.0,3.0,2.4,40,25

In [14]:
cereal_merged.loc[135]

,index,name,type,shelf,weight,cups,rating,calories,protein,fat,fiber,carbo,sugars,sugars (post-tax),potass,vitamins
sodium,,,,,,,,,,,,,,,,
135,29,Fruity Pebbles,C,2,1.0,0.75,28.025765,110.0,1,1,0.0,13.0,12.0,9.6,25,25
135,56,Quaker Oat Squares,C,3,1.0,0.50,49.511874,100.0,4,1,2.0,14.0,6.0,4.8,110,25